/* Định nghĩa style cho các nút */

.buttonChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #000000;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.button1 {
    -fx-background-color: #ffffff;
}

.button2 {
    -fx-background-color: #238FE7;
}

.buttonKoChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.gamekochon {
    -fx-background-color: #238FE7;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.chonGame {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1D93F3;
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.dapan{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
}

.dapAnSai{
    -fx-background-color: #FC5D5D;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
 }

.dapAnDung{
    -fx-background-color: #00df3f;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
}

.dapAnThuong{
    -fx-border-color: #1D93F3;
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
    -fx-background-color: #ffffff;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
}
.panecolor1 {
    -fx-background-color: #1D93F3; /* Màu nền của pane */
}
.pane-color {
    -fx-background-color: #ffffff; /* Màu nền của pane */
}
