/* Định nghĩa style cho các nút */

.buttonChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #000000;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.button1 {
    -fx-background-color: #ffffff;
}

.button2 {
    -fx-background-color: #238FE7;
}

.buttonKoChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.gamekochon {
    -fx-background-color: #238FE7;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.chonGame {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1D93F3;
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.dapan{
    -fx-background-color: #ffffff;
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
}

.dapAnSai{
    -fx-background-color: #FC5D5D;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
}
/*=====================================================*/

.dapAnDung{
    -fx-background-color: #00df3f;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
}

.dapAnThuong{
    -fx-border-color: #1D93F3;
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
    -fx-background-color: #ffffff;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
}

.nextBtn {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.nextBtn:hover {
    -fx-background-color: #5FB2F5;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.nextBtn:pressed {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.exitBtn {
    -fx-background-color: #D86859;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.exitBtn:hover {
    -fx-background-color: #FA4D5E;
    -fx-text-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.exitBtn:pressed {
    -fx-background-color: #D86859;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.panecolor1 {
    -fx-background-color: #1D93F3; /* Màu nền của pane */
}
.pane-color {
    -fx-background-color: #ffffff; /* Màu nền của pane */
}

.questionArea {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-text-fill: #0a3684;
}

.titleChon {
    -fx-font-family: "SVN-Gilroy XBold";
    -fx-font-size: 18px;
    -fx-text-fill: 1D93F3;
}

.titlekChon {
    -fx-font-family: "SVN-Gilroy XBold";
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.buttonThuong {
    -fx-background-color: #238FE7;
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
    -fx-border-radius: 5 5 5 5; /* Bo tròn góc viền */
}