/* Định nghĩa style cho các nút */
.buttonSpeaker {
    -fx-background-color: #C2DEF2;
    -fx-border-color: #C0D5E2;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttonSlow {
    -fx-background-color: #DCF7E6;
    -fx-border-color: #C2F2D3;
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.textArea {
    -fx-background-color: #ffffff;
    -fx-border-color: #C0C2C4;
    -fx-text-fill: #0a3684;
    -fx-font-size: 24px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
    -fx-border-radius: 5 5 5 5; /* Bo tròn góc viền */
}

.correctAns{
    -fx-text-fill: #000000;
    -fx-font-size: 24px;
    -fx-border-color: #FC5D5D;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
    -fx-border-radius: 5 5 5 5;
}

.submitBtn {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.submitBtn:hover {
    -fx-background-color: #5FB2F5;
    -fx-text-fill: #000000;
    -fx-font-size: 22px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.submitBtn:pressed {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.exitBtn {
    -fx-background-color: #D86859;
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.exitBtn:hover {
    -fx-background-color: #FA4D5E;
    -fx-text-fill: #000000;
    -fx-font-size: 22px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.exitBtn:pressed {
    -fx-background-color: #D86859;
    -fx-text-fill: #ffffff;
    -fx-font-size: 22px;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.buttonChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #000000;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.button1 {
    -fx-background-color: #ffffff;
}

.button2 {
    -fx-background-color: #238FE7;
}

.buttonKoChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.gamekochon {
    -fx-background-color: #238FE7;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

.chonGame {
    -fx-background-color: #ffffff;
    -fx-text-fill: #1D93F3;
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 20px;
    -fx-background-radius: 10 10 10 10; /* Bo tròn góc nền */
    -fx-border-radius: 10 10 10 10; /* Bo tròn góc viền */
}

/*=====================================================*/

/* Định nghĩa style cho các text field */

.panecolor1 {
    -fx-background-color: #1D93F3; /* Màu nền của pane */
}
.pane-color {
    -fx-background-color: #ffffff; /* Màu nền của pane */
}

