/* Định nghĩa style cho các nút */

.buttoncChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttoncKoChon {
    -fx-background-color: #1D93F3;
    -fx-text-fill: #ffffff;
    -fx-font-family: "SVN-Gilroy SemiBold";
    -fx-font-size: 12px;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttonAdd {
    -fx-background-color: DCF7E6;
    -fx-border-color: #C2F2D3;
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttonRemove {
    -fx-background-color: #F7DCDC;
    -fx-border-color: #F2D2D2;
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttonUpdate {
    -fx-background-color: #F3E8FF;
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttonSpeaker {
    -fx-background-color: #C2DEF2;
    -fx-border-color: #C0D5E2;
    -fx-background-radius: 3 3 3 3; /* Bo tròn góc nền */
    -fx-border-radius: 3 3 3 3; /* Bo tròn góc viền */
}

.buttonThuong {
    -fx-background-color: #238FE7;
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
    -fx-border-radius: 5 5 5 5; /* Bo tròn góc viền */
}
/*=====================================================*/

/* Định nghĩa style cho các label */
.titleTieude {
    -fx-font-family: "SVN-Gilroy Heavy";
    -fx-font-size: 25px;
    -fx-text-fill: #000000;
}
/*chu chức năng*/
.titleCnang {
    -fx-font-family: "Inter-Medium";
    -fx-font-size: 9px;
    -fx-text-fill: #ffffff;
}
/* Định nghĩa style cho các text field */
.bartimkiem {
    -fx-text-fill: #000000;
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-radius:  5 5 5 5; /* Bo tròn góc nền */
    -fx-border-radius: 5 5 5 5; /* Bo tròn góc viền */
}
.panecolor1 {
    -fx-background-color: #1D93F3; /* Màu nền của pane */
}
.pane-color {
    -fx-background-color: #ffffff; /* Màu nền của pane */
}
/* Định nghĩa style cho các list tìm kiếm*/
.listtimkiem {
    -fx-background-color: #ffffff; /* Màu nền của list view */
    -fx-border-color: #C0C2C4; /* Màu viền của list view */
    -fx-text-fill: #000000; /* Màu chữ của các mục trong list view */
    -fx-font-family: "Inter-Medium"; /* Thay "Your Font Family" bằng tên font chữ bạn muốn sử dụng */
    -fx-font-size: 14px;
    -fx-background-radius: 5 5 5 5; /* Bo tròn góc nền */
    -fx-border-radius: 5 5 5 5; /* Bo tròn góc viền */
}

/* Định nghĩa style cho các web view */
.web-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
}

/* Định nghĩa style cho các HTML editor */
.html-editor .top-tool-bar {
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-opacity: 0;
}
/* Style cho hien thị ket qua tim kiem */
.word-target {
    -fx-font-family: "SVN-Gilroy Bold";
    -fx-font-size: 25px;
    -fx-text-fill: #1D93F3;
    text-align: center;
}

.word-explain {
    font-family: Arial;
    color: green;
    font-size: 10px;
}
/*=====================================================*/